h1,
h2,
p {
  font-family: "Helvetica", sans-serif;
}

.header {
  background-image:
    url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  text-align: center;
  color: khaki;
  font-size: 70px;
  background-position: center;
  height: 300px;
}


.title {
  background-color:mediumspringgreen;
  color: white;
  font-weight: bold;
  font-size: 32px;
}

.frame {
  background-color:lightcoral;
  color: white;
  font-weight: bold;
  font-size: 32px;
}

.paint {
  background-color:skyblue;
  color: white;
  font-weight: bold;
  font-size: 32px;
}

.price {
  color: blue;
  font-weight: bold;
}
